{% extends "mail/layout.html" %}

{% block body %}

    <div id="register-div">
        <h2 id="register">Register</h2>
    
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <form id="register-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-register-div">
                <input class="form-register" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-register-div">
                <input class="form-register" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-register-div">
                <input class="form-register" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="form-register-div" id="register-btn" class="btn btn-primary" type="submit" value="Register">
        </form>
    </div>
    <div id="already-have-acc-div">
        <h2 id="already-have-acc">Already have an account?</h2>
        <a id="login-here-btn" href="{% url 'login' %}">Log In here.</a>
    </div>

{% endblock %}